/* Reset CSS */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, q, a, code, blockquote, img, ol, ou, li, form, table, td, th, tr, article, section{
 padding: 0;
 margin: 0;
 font-size: 100%;
 vertical-align: baseline;
 border: 0;
 outline: 0;
 background: transparent;
}

ol, ul{
 list-style: none;
}

blockquote, q{
 quotes: none;
}

:focus{
 outline: 0;
}

table{
 border-collapse: collapse;
 border-spacing: 0;
}

/* Flexgrid */
.scaffold {
 font: normal 100%;
 width: 97.5%;
 max-width: 1248px;
 margin: 0 auto;
 clear: both;
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12, .grid13, .grid14, .grid15, .grid16 {
 float: left;
 margin: 0 1.20192308%;
 margin-bottom: 1.875em;
}

.grid1 {
 width: 3.846153846153%;
}

.grid2 {
 width: 10.096153846153%;
}

.grid3 {
 width: 16.346153846153%;
}

.grid4 {
 width: 22.596153846153%;
}

.grid5 {
 width: 28.846153846153%;
}

.grid6 {
 width: 35.096153846153%;
}

.grid7 {
 width: 41.346153846153%;
}

.grid8 {
 width: 47.596153846153%;
}

.grid9 {
 width: 53.846153846153%;
}

.grid10 {
 width: 60.096153846153%;
}

.grid11 {
 width: 66.346153846153%;
}

.grid12 {
 width: 72.596153846153%;
}

.grid13 {
 width: 78.846153846153%;
}

.grid14 {
 width: 85.096153846153%;
}

.grid15 {
 width: 91.346153846153%;
}

.grid16 {
 width: 97.596153846153%;
}

/* Styles */
@font-face {
  font-family: junction;
  font-display: auto;
  src: url('Junction-webfont.ttf');
}

@font-face {
  font-family: league_gothic;
  font-display: auto;
  src: url('League_Gothic-webfont.ttf');
}

@font-face {
  font-family: league_mono;
  font-display: auto;
  src: url('LeagueMono-Regular.ttf');
}

.group:after {
  content: ".";
  display:block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  background: #fff;
  font: 130%/198% junction, Georgia, sans-serif;
  color: #444444;
}

body.land {
  background: #fff;
}

nav {
  display: block;
  width: 100%;
  text-align: center;
}

nav.alt {
  text-align: right;
}

nav a {
  margin: 0.2em;
  font-family: league_gothic;
  font-size: 1.5em;
  text-align: center;
  background: none;
  text-decoration: none;
  padding: 0.3em;
  border: none;
  border-radius: 0.5em;
}
nav a:visited {
  color: #733e1a;
}
nav.alt a {
  color: #733e1a;
  -webkit-transition: border .2s linear;
  -moz-transition: border .2s linear;
  transition: border .2s linear;
}

.land nav a img {
  margin-top: 1.6em;
  height: 1.8em;
}

nav a:hover {
  background: none;
  border-bottom: 0.5em solid #733e1a;
  border-radius: 0
}
nav.alt a:hover {
  background: none;
  border-bottom: 0.5em solid #ffdab9;
  border-radius: 0;
}

nav a.current {
  background: none;
  border-bottom: 0.5em solid #222222;
  border-radius: 0;
}
nav.alt a.current {
  background: none;
  border-bottom: 0.5em solid #ffdab9;
  border-radius: 0;
}

.yt-frame {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

a.logo-wrap {
  position: relative;
  display: inline-block;
}

a.logo-wrap:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

a, a:visited {
  background: #dddedb;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #50514B;
  padding: 0.15em 0.25em;
  border-radius: 0.1em 0.1em 0 0;
  line-height: 1.6em;
  -webkit-transition: background .4s linear;
  -moz-transition: background .4s linear;
  transition: background .4s linear;
}
a.nohover, a.nohover:visited {
  background: none;
  border: none;
}
a:hover {
  background: #FEFFF8;
}
a.nohover:hover {
  background: none;
  border-bottom: none;
}

.indivisible {
  white-space: nowrap;
}

emph {
  color: #733e1a;
  font-style: italic;
  font-weight: bold;
}

article {
  margin-bottom: 2em;
  border-bottom: 1px solid #dddddd;
}

article h1 {
  font-size: 3em;
  line-height: 1em;
}

article .thetitle {
  font-size: 0.8em;
  line-height: 0.9em;
  margin-bottom: 0;
}

article .thetitle a {
  border-bottom: none;
  padding: 0;
}

article img {
  background: transparent;
  margin: 0 auto;
  display: block;
}

article .postbody {
  width: 97.596153846153%;
}

article .metadata {
  width: 97.596153846153%;
  text-align: left;
  font-size: 0.9em;
  margin-bottom: 1em;
}

article span.tag, .post-listing .tag {
  font-size: .75em;
  line-height: 1.1em;
  margin-bottom: .4em;
}

article span:after {
  content: ", ";
  font-weight: bold;
}

article span:last-child:after {
  display: none;
}

article .permalink {
  font-size: 1.2em;
  color: #733e1a;
}

article .date {
  font-size: .9em;
  text-align: center;
  margin-bottom: 1em;
}

article .thetitle span {
  color: #aaaaaa;
}

article ul {
  list-style: disc;
}
article ul li {
  margin-bottom: 0.3em;
}

blockquote {
  padding: 13px;
  border: 1px solid #dddddd;
  border-left: 7px solid #ffdab9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #f6f6f6;
  margin-bottom: 15px;
}

p {
  margin-bottom: .2em;
}
p + p {
  text-indent: 1.5em;
  margin-top: 0.75em;
}

img {
  max-width: 100%;
}

p + p img {
  position: relative;
  left: -1.5em;
}


img.aligncenter {
  margin: 11px auto;
}
img.alignleft {
  float: left;
  margin-right: 3em;
  margin-bottom: 3em;
  display: inline;
}
img.alignright {
  float: right;
  margin-left: 3em;
  margin-bottom: 3em;
  display: inline;
}

video {
  max-width: 95%;
}

h1.archive {
  font-size: 2em;
  color: #888888;
  text-align: center;
}

h1.archive emph {
  color: #444444;
}

hr.subtleSep {
  border: 1px solid #dddddd;
  margin: 2em 0;
  width: 100%;
}

pre {
  display:block;
  clear: both;
  white-space: pre-wrap;
  border: 1px solid #cfcfcf;
  border-radius: 0.3em;
  padding: 0.7em;
  text-align: left;
  background: #f6f6f6;
}

code {
  font-family: league_mono, monospace;
  font-size: 105%;
  border: 1px solid #cfcfcf;
  border-radius: 0.3em;
  padding: 0 0.5em 0.14em;
  line-height: 1.1em;
  text-align: left;
  background: #f6f6f6;
  position: relative;
}

pre code {
  border: none;
  top: 0;
  display: block;
}

.projects {
  background: #f6f6f6;
  background-image: -webkit-linear-gradient(#eeeeee,#f6f6f6);
  background-image: -moz-linear-gradient(#eeeeee,#f6f6f6);
  margin-bottom: 2em;
  float: left;
  display: block;
  height: 18em;
}

section.projects {
  width: 97.5%;
  margin: 1em 1.20192308%;
}

.projects h3 {
  font-size: 1.5em;
  padding-top: .2em;
  padding-left: .2em;
}

.projects img {
  max-width: 50%;
  max-height: 30%;
  position: relative;
  display: block;
  margin: 0.8em auto;
}

.projects span {
  float: left;
  clear: left;
  width: 90%;
  margin: 1% 5%;
  height: 30%;
}

.projects a {
  display: block;
  font-size: 1.2em;
  text-align: center;
  color: #34cbfe;
}

.border_alt {
  height: 0.6em;
  background: none;
}

.banner {
  height: 100vh;
  max-height: 512px;
  background: #1a4f73;
}

.banner object {
  margin: 1.3em auto;
  display: block;
  width: 7em;
  height: 7em;
}

.banner p {
  text-align: center;
  text-indent: 0;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: 100;
  color: #ddd;
  margin-bottom: 0.3em;
}

.banner b {
  font-weight: 900;
  color: #fff;
}

.content {
  padding-top: 1.2em;
}

.teaser {
  font-size: 0.8em;
  line-height: 1.4em;
  margin-top: 3em;
}

.teaser div {
  width: 97.596153846153%;
}


h1, h2, h3, h4, h5, h6 {
  font: 1.5em league_gothic, Impact, Helvetica, sans-serif;
  color: #733e1a;
}

.footer {
  margin-top: 8em;
  padding: 0.7em 0;
  font-size: 0.9em;
  line-height: 1.5em;
  text-align: center;
}

.footer p {
  margin: 0.3em;
  text-indent: 0;
}

.tag_cloud {
  font-size: 1.3em;
  width: 35.096153846153%;
  margin: 0 auto;
  text-align: center;
}

.tag_cloud > span {
  white-space: nowrap;
}

.oncanvas {
  display: none;
}

.logo {
  height: 3em;
  width: 3em;
}

::selection {
  background: #ffdab9; /* Safari */
}
::-moz-selection {
  background: #ffdab9; /* Firefox */
}

.footnotes {
  font-size: 0.7em;
}

.footnotes hr {
  border: 1px solid #dddddd;
  margin: 2em 0;
  width: 100%;
}

.footnotes ol {
  list-style-type: decimal;
  margin-left: 1.4em;
}

.footnotes a:last-child {
  vertical-align: top;
  font-size: 0.7em;
}

.paginator {
  width: 100%;
  text-align: center;
}

sup a {
  vertical-align: top;
  font-size: 0.7em;
}

video {
  display: block;
  margin: 1em auto;
}

figure {
  margin: 1.1em auto;
  display: block;
}

figure table {
  margin: 0 auto;
  border-collapse: separate;
}

figure thead {
  font-weight: bold;
}

figure th {
  padding: 0.4em 1.3em;
}

figure tr:nth-child(even) {
  background: #dddedb;
}

figure td {
  text-align: center;
  padding: 0.4em 0.2em;
}

figure svg {
  margin: auto;
  display: block;
}

figure img {
  width: 97.5%;
  margin: 0.6em auto;
}

figcaption {
  max-width: 75%;
  margin: 0.5em auto 1.3em;
  text-align: center;
}

.warning {
  padding: 0.5em 1.3em;
  background: #bc3e3e;
  color: #fff;
  border-radius: 0.5em;
  margin: 0.8em 1.5em;
}

.warning h1 {
  color: #fff;
  font-size: 1.4em;
}

.warning hr {
  border-top: solid 0.1em #fff;
}

.note {
  padding: 0.5em 1.3em;
  background: #1a4f73;
  color: #fff;
  border-radius: 0.5em;
  margin: 0.8em 1.5em;
}

.note h1 {
  color: #fff;
  font-size: 1.4em;
}

.note hr {
  border-top: solid 0.1em #fff;
}

@media (min-width: 520px) {
  .teaser div {
    width: 47.596153846153%;
    height: 12em;
  }
  .teaser p {
    height: 8em;
  }

  section.projects {
    width: 47.596153846153%;
  }

  .banner p {
    font-size: 1.70em;
  }

  .land nav a img {
    height: 2.6em;
    margin: 1.6em 1.8em 0;
  }

  article .metadata {
    width: 10.096153846153%;
    clear: left;
    font-size: 0.9em;
    text-align: center;
  }

  article .metadata span {
    float: left;
    clear: left;
    width: 100%;
  }

  article .permalink {
    font-size: 3em;
    line-height: .8em;
    display: block;
    text-align: center;
  }

  article .postbody {
    width: 85.096153846153%;
  }


  article span:after {
    display: none;
  }

  article .thetitle {
    font-size: 1.4em;
    line-height: 1.8em;
    margin-left: 13.7019230862%;
    margin-bottom: 1em;
  }
}

@media (min-width: 1030px) {
  .teaser div {
   width: 22.596153846153%;
  }

  .teaser p {
    height: 8em;
  }

  .land nav a img {
    height: 4.3em;
    margin: 1.6em 2.5em 0;
  }

  section.projects {
    width: 30.9294871733%;
  }

  .banner object {
    width: 10em;
    height: 10em;
  }

  .banner {
    padding-bottom: 1em;
  }

  .banner p {
    font-size: 2.3em;
  }

  .oncanvas {
    display: block;
    float: right;
  }

  .logo {
    height: 6em;
    width: 6em;
  }
}
