<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="/files/img-showcase.js"></script>
</head>

<body>
    <nav>
        <p> <a href="/">Casey</a>
          - <a href="/writing/">Writing</a>
          - <a href="/contact/">Contact</a>
          - <a href="/resume/">Resume</a>
          - <a href="/puzzles/">Puzzles</a>
        </p>
    </nav>
    {{.Content}}
    <footer>
        <p>Casey Robinson 2009-2024. Any and all opinions listed here are my own and not representative of my employers; past, present, or future.</p>
    </footer>
</body>
