<article class="group">
  <div class="grid14 thetitle">
    <a href="{{ .Permalink }}">
      <h1>{{ .Title }}</h1>
    </a>
  </div>
  <div class="metadata grid2">
    <span class="date">
      {{ .Date.Format "2 Jan 2006" }}
    </span>
    {{ range .Params.tags }}
      <span class="tag">
        <a href="/tags/{{. | urlize}}">
          {{ . }}
        </a>
      </span>
    {{ end }}
    <span>
      <a class="permalink nohover" href="{{ .Permalink }}">&infin;</a>
    </span>
  </div>
  <div class="postbody grid14">
    {{ .Content }}
  </div>
</article>
