<!DOCTYPE html>

<title>Rampant Monkey</title>
<!--[if gte IE 7]><!-->
  <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/style.css" />
  <link rel="shortcut icon" type="image/png" href="/media/rmLogoSmall.png">
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <meta charset="UTF-8">
<!--<![endif]-->

<body>
  <div class="border_alt"></div>
  <div class="content">
    <section class="scaffold group">
    <div class="grid4"><a href="//rampantmonkey.com" class="logo-wrap nohover"><object class="logo" data="/media/rmLogo.svg" type="image/svg+xml"></object></a></div>
      <div class="grid12">
        <nav class="oncanvas alt">
          <a href="/">Home</a>
          <a class="current" href="/posts/">Posts</a>
          <a href="http://src.rampantmonkey.com">Projects</a>
        </nav>
      </div>
    </section>
    <section class="scaffold">
